---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hi, I'm Thomas Ritter.</h1>

  <p style="float:right; margin-left: 16px;">
    <img src="{{ site.url }}/assets/me.jpg" alt="{{ site.owner }}" />
  </p>

  <p>
    I'm a software developer living in Zurich. I'm currently working for <a href="http://www.simplificator.com">Simplificator</a>. You can find me on <a href="http://github.com/nethad">github</a> and <a href="http://twitter.com/nethad">twitter</a>.
  </p>

  <p>
    Since 2015, I'm an organizer and coach for <a href="http://www.rubymonstas.ch">RubyMonstas Zurich</a>, a group for women to learn programming. ❤️️
  </p>

  <p>
    It's most likely you'll see me with headphones outside, I listen to lots of <a href="http://www.last.fm/user/nethad">music</a> and podcasts. I also produce my <a href="http://www.zwangschast.ch">own podcast</a> together with <a href="http://twitter.com/nerdinand">nerdinand</a>.
  </p>

  {{ content }}

</div>
